doctype html
html(lang="en")
  head
    title="CS 496 OAuth 2.0 Demo"
    style
      include ../../bootstrap/bootstrap.min.css
      include ../../css/main.css
    script(src='../../bootstrap/jquery-3.2.1.slim.min.js')
    script(src='../../bootstrap/popper.min.js')
    script(src='../../bootstrap/bootstrap.min.js')
    script(src='../../client/state.js')
  body
    nav(class="navbar navbar-dark bg-dark viewNavbar")
      a(class="navbar-brand" href="#")
        | Magic OAuth 2.0 doughnut (from that particular bakery)
      div(class="form-inline")
        button(class="btn btn-outline-success" href="http://olafs-doughnut.appspot.com")
          | Sign Out

    div(class="viewContainer container-fluid" id="body")
      img(src="../../assets/mlp.png" class="imgfitparent")

    div(class="alert alert-success" role="alert")
      h4(class="alert-heading")
        | Well done!
      p
        | Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
      p(class="mb-0")
        | Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
    
    {{userData}}