html
  head
    link(rel="stylesheet" href="css/style.css")
    title= title

body
  div(class="nav_header")
    ul(class="nav_items")
      <!--  Left navigation items (normal order) -->
      li(class="nav_item")
        img(src="images/osu_logo_small.png")
      li(class="nav_item")
        a(href ="#")
          |Menu 1
      li(class="nav_item")
        a(href ="#")
          |Menu 2
      li(class="nav_item")
        a(href ="#")
          |Menu 3

      <!--  Right navigation items (reverse order) -->
      li(class="nav_item_nav")
        a(href ="#")
          |Menu 4

  div(class="outer-content")
    div(class="inner-content")
      img(src="images/hal9000.png")
      h1
        |I'm sorry dave, I can not find 
        =error.url