body {
    background-color: #131313;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.statusBar {
    width:100%;
    height: 10%;
    background-color: #454545;
}

.propertyBar {
    width: 30%;
    height: 90%;
    float: left;
    background-color: #603030;
}

.spaceView {
    width: 70%;
    height: 90%;
    background-color: #101030;
    float: right;
}