html
  head
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    title= title

div(class="statusBar")
div(class="propertyBar")
div(class="spaceView")

script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src='http://requirejs.org/docs/release/2.2.0/minified/require.js')
script(src="scripts/bootstrap.min.js")
script(src="scripts/space_view.js")
script(src="scripts/space_controller.js")
