body {
    background-color:#373737
}

.nav_items
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_item_bar
{
    display: inline;
    text-align: center;
}

.nav_item_bar .nav_item_bar_logo
{
}

.nav_item_bar .nav_item_bar_nav
{
}

.nav_header
{
    background-color: #615042;
    width: 100%;
}
.customTable .customTable-primaryColumn
{
    font-style: italic;
}

.customTable .customTable-assignment2
{
    vertical-align:top
}

.customTable
{
    font-family:Arial, sans-serif;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;

    border-collapse:collapse;
    border-spacing:0;
}

.customTable td
{

}

.customTable th
{
    font-size:20px;
}
